exclude: |
  (?x)^(
    src/pymovements/_version.py
  )$

ci:
    autoupdate_commit_msg: 'ci: pre-commit autoupdate'
    skip: [pylint]

repos:
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
    -   id: pyupgrade
        args: [--py39-plus]
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.14.0
    hooks:
    -   id: reorder-python-imports
        args: [--application-directories=src, --py39-plus]
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.14.0
    hooks:
    -   id: reorder-python-imports
        files: ^src/
        exclude: __init__.py
        args: [--application-directories=src, --add-import, 'from __future__ import annotations']
-   repo: https://github.com/datarootsio/databooks
    rev: 1.3.10
    hooks:
    -   id: databooks-meta
        args: [--cell-fields-keep=id]
-   repo: https://github.com/pappasam/toml-sort
    rev: v0.24.2
    hooks:
    -   id: toml-sort-fix
-   repo: https://github.com/dannysepler/rm_unneeded_f_str
    rev: v0.2.0
    hooks:
    -   id: rm-unneeded-f-str
-   repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
    -   id: nbstripout
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: insert-license
        args: [--use-current-year]
        types: [python]
-   repo: https://github.com/jsh9/pydoclint
    rev: 0.5.9
    hooks:
    - id: pydoclint
      args: ["--config=pyproject.toml"]
-   repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
    -   id: nbqa-autopep8
    -   id: nbqa-flake8
        args: ['--builtins=display']
    -   id: nbqa-isort
        args: ["--float-to-top"]
    -   id: nbqa-pyupgrade
        args: ["--py39-plus"]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    -   id: mypy
        additional_dependencies: [pandas-stubs, types-tqdm]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-builtin-literals
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-xml
    -   id: check-yaml
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: name-tests-test
    -   id: no-commit-to-branch
    -   id: requirements-txt-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.1
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
    -   id: autoflake
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
    -   id: doc8
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    -   id: pydocstyle
        files: ^src/
        args:
          [
            '--ignore=D107,D203,D213,D413',
          ]
    -   id: pydocstyle
        files: ^tests/
        args:
          [
            '--ignore=D103,D107,D213',
          ]
-   repo: https://github.com/PyCQA/pylint
    rev: v3.3.2
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: ^src/
        args:
          [
            '--output-format=parseable',
            '--rcfile=pylintrc',
          ]
      - id: pylint
        name: pylint-tests-directory
        entry: pylint
        language: system
        types: [python]
        files: ^tests/
        args:
          [
            '--output-format=parseable',
            '--disable=duplicate-code',
            '--disable=missing-class-docstring',
            '--disable=missing-function-docstring',
            '--disable=protected-access',
            '--rcfile=pylintrc',
          ]
