name: datasets
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  prepare-matrix:
    name: prepare dataset matrix
    runs-on: ubuntu-latest
    outputs:
      all_datasets: ${{ steps.create-matrix.outputs.matrix }}
    steps:
      - name: Checkout pymovements repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install pymovements
        run: python -m pip install -e ${{ github.workspace }}
      - name: Create matrix for all datasets
        id: create-matrix
        run:  python -c "from pymovements import DatasetLibrary; print(f'matrix={DatasetLibrary.names()}')" >> $GITHUB_OUTPUT

  test:
    name: test ${{ matrix.dataset }}
    runs-on: ubuntu-latest
    needs: [prepare-matrix]
    strategy:
      matrix:
        dataset: ${{ fromJSON(needs.prepare-matrix.outputs.all_datasets) }}
    steps:
      - name: Checkout pymovements repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install tox
        run: python -m pip install tox
      - name: Setup test environment
        run: tox -vv --notest -e integration
      - name: Run dataset integration test
        run: tox --skip-pkg-install -e integration -- tests/integration/download_and_scan_dataset_from_library_test.py::test_download_and_scan[${{ matrix.dataset }}]
