name: docs
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  docs:
    name: (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '2.19.2'
      - name: Install base python for tox
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install tox
        run: python -m pip install tox
      - name: Setup test environment
        run: tox -vv --notest -e docs
      - name: Run test
        run: tox --skip-pkg-install -e docs
      - name: Upload documentation
        uses: actions/upload-artifact@v3
        with:
          name: html-docs-${{ matrix.os }}
          path: docs/build/
