name: tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: test ${{ matrix.tox_env }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: Agg
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        tox_env:
          - py39
          - py310
          - py311
          - py312
        include:
          - tox_env: py39
            python: "3.9"
          - tox_env: py310
            python: "3.10"
          - tox_env: py311
            python: "3.11"
          - tox_env: py312
            python: "3.12"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: python -m pip install tox
      - name: Setup test environment
        run: tox -vv --notest -e ${{ matrix.tox_env }}
      - name: Run test
        run: tox --skip-pkg-install -e ${{ matrix.tox_env }}
      - name: Upload coverage reports to Codecov
        if: success() || failure()
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  pylint:
    name: pylint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install base python for tox
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Install tox
        run: python -m pip install tox
      - name: Setup test environment
        run: tox -vv --notest -e pylint
      - name: Run test
        run: tox --skip-pkg-install -e pylint


  minimum-requirements:
    name: minimum requirements
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Install tox
        run: python -m pip install tox-min-req
      - name: Setup test environment
        run: MIN_REQ=1 tox -vv --notest -e py39
      - name: Run test
        run: MIN_REQ=1 tox --skip-pkg-install -e py39


  docs:
    name: docs (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '2.19.2'
      - name: Install base python for tox
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Install tox
        run: python -m pip install tox
      - name: Setup test environment
        run: tox -vv --notest -e docs
      - name: Run test
        run: tox --skip-pkg-install -e docs
      - name: Upload documentation
        uses: actions/upload-artifact@v3
        with:
          name: html-docs-${{ matrix.os }}
          path: docs/build/
