name: tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: ${{ matrix.tox_env }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: Agg
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        tox_env:
          - py39
          - py310
          - py311
        include:
          - tox_env: py39
            python: "3.9"
          - tox_env: py310
            python: "3.10"
          - tox_env: py311
            python: "3.11"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install base python for tox
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install tox
        run: python -m pip install tox
      - name: Install python for test
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Setup test environment
        run: tox -vv --notest -e ${{ matrix.tox_env }}
      - name: Run test
        run: tox --skip-pkg-install -e ${{ matrix.tox_env }}
      - name: Upload coverage reports to Codecov
        if: success() || failure()
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  minimum-requirements:
    name: check minimum requirements
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install base python for tox
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install tox
        run: python -m pip install tox-min-req
      - name: Install python for test
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Setup test environment
        run: MIN_REQ=1 tox -vv --notest -e py39
      - name: Run test
        run: MIN_REQ=1 tox --skip-pkg-install -e py39
